{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <div class="post-list">
    {%- for post in posts limit: include.limit -%}
      <article class="post-item">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
          [{{- post.date | date: "%Y-%m-%d" -}}]
        </time>
        <h3 class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
      </article>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <div class="show-more">
        <a href="{{ include.show_more_url }}" class="more-link">
          ▼ {{ include.show_more_text | default: "Show more..." }} ▼
        </a>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}