{%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}
<div class="index">
  {%- for group in years -%}
    <div class="year">
      <div class="year__num">{{ group.name }}</div>
      <div class="year__items">
        {%- for post in group.items -%}
          <a class="row" href="{{ post.url | relative_url }}">
            <span class="row__title">{{ post.title }}</span>
            <span class="row__date">{{ post.date | date: "%Y-%m-%d" }}</span>
          </a>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
</div>
